<section class="" [ngClass]="!collapsed ? '' : 'sidenav-header'">
  <div *ngIf="!collapsed" class="img-set">
    <img src="../../../assets/git-image.png" alt="">
  </div>
  <mat-nav-list>
    <ng-container *ngFor="let item of menuItems">
      <a mat-list-item class="menu-item" [routerLink]="item.route" routerLinkActive="selected-menu-item"
        #rla="routerLinkActive" [activated]="rla.isActive" (click)="item.subItems ? toggleSubMenu(item) : null">
        <mat-icon style="margin-left: 16px; margin-right: 14px;"
          [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'" matListItemIcon>
          {{ item.icon }}
        </mat-icon>
        <span [ngClass]="rla.isActive ? 'mat-active-color' : 'back-color'" matListItemTitle *ngIf="!collapsed"
          class="set-position">
          <span>{{ item.label }}</span>
          <span *ngIf="item.subItems">
            <mat-icon>
              {{ getToggleIcon(item) }}
            </mat-icon>
          </span>
        </span>
      </a>
      <div *ngIf="item.isExpanded && !collapsed" class="submenu">
        <a mat-list-item class="submenu-item" #sla="routerLinkActive" *ngFor="let subItem of item.subItems"
          [routerLink]="subItem.route" routerLinkActive="selected-sub-menu-item" [activated]="sla.isActive">
          <mat-icon [fontSet]="sla.isActive ? 'material-icons' : 'material-icons-outlined'" matListItemIcon
            class="sub-icons">{{ subItem.icon }}</mat-icon>
          <span [ngClass]="sla.isActive ? 'mat-active-color' : 'back-color'" matListItemTitle
            style="font-size: 15px;">{{ subItem.label }}</span>
        </a>
      </div>
    </ng-container>
  </mat-nav-list>
</section>